<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
    <h1>Author List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Books</th>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">1023</td>
            <td th:text="${author.firstName}">Andres</td>
            <td th:text="${author.lastName}">Montoya</td>
            <td>
                <ul th:each="book : ${author.book}">
                    <li th:text="${book.title}"></li>
                    <li th:text="${book.publisher.name}"></li>
                    <li th:text="${book.id}"></li>
                </ul>
            </td>
        </tr>
    </table>

</body>
</html>